@font-face {
  font-family: custom_font;
  src: url(../media/Efesto-Regular.otf) format('truetype');
}

@font-face {
  font-family: custom_font_2;
  src: url(../media/Efesto-Italic.otf) format('truetype');
}

/****************BODY****************/
.body {
  min-width: 640px;
  min-height: 416px;
  background: linear-gradient(to bottom, rgba(0, 45, 52, 0.9), rgba(44, 48, 80, 0.9));
}
/************************************/


/***************HEADER***************/
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  background: linear-gradient(to right, rgba(0, 45, 52, 0.9), rgba(44, 48, 80, 0.9));
}

.title {
  margin: 2px;
  padding: 2px;
  flex-grow: 1;
  align-self: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(255,69,144,1.0);
  font-family: custom_font;
  text-shadow: 0px 0px 40px rgb(156, 24, 77);
}

.reset_nav {
  display: grid;
  margin: 2px;
  padding: 2px;
  flex-grow: 3;
}
.nav {
  display: grid;
  margin: 2px;
  padding: 2px;
  flex-grow: 3;
  /*justify-content: center;*/
}

.navList {
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
  list-style-type: none;
  box-sizing: border-box;
}

.menuItem {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  padding: 8px;
  text-decoration: none;
  font-size: 24px; 
  margin: 2px;
  text-align: center;
  font-family: custom_font_2;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(255,69,144,1.0);
}

.menuItem:hover {
  color:aquamarine;
  box-sizing: border-box;
}

#nav-button {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border: none;
  outline: none;
}

#nav-icon {
  display: none;
}

.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.nav-icon {
  align-self: center;
  text-shadow: 0px 0px 40px rgb(156, 24, 77);
}

@media screen and (max-width: 688px) {
  .nav {
    display: none;
    /*visibility: hidden;*/
  }
  .navList {
    /*flex-direction: column;*/
  }
  #nav-icon {
    display: block;
  }
}

.flex_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;


  /*height: 100px;*/
}
/************************************/

/****************MAIN****************/
#main {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  margin-top: 4px;
  overflow: hidden;
  transition: all 1s;
  background: linear-gradient(to right, rgba(0, 45, 52, 0.9), rgba(44, 48, 80, 0.9));
}

/*************CUSTOM_DIV*************/
.fieldset_wrap {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
}

.fieldset {
  border-radius: 4px; 
  padding: 4px; 
  flex-grow: 1;
  box-shadow: 0 0 4px black;
  background-color: rgba(0,0,0,0.4);
  margin: 4px;
}

.fieldset_legend {
  border-radius: 4px; 
  color: #1C1F24; 
  font-weight: bold;
}

.fieldset_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
  
}
/************************************/

/***************PLAYER***************/
.f_player {
  border: 2px solid aquamarine; 
}
.fl_player {
  background-color: aquamarine; 
  border: 2px solid aquamarine;
  box-shadow: 0 0 4px aquamarine;
}
.playerDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.playerInfo {
  color: aquamarine;
}
.p_val {
  font-weight: bold;
  color: greenyellow;
}
.player_objects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.objects {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#left_objects {
  justify-content: flex-start;
}

#right_objects {
  justify-content: flex-end;
}

.list {
  height: 24px;
  margin-left: 4px;
  background: linear-gradient(to bottom, rgba(0, 45, 52, 0.9), rgba(44, 48, 80, 0.9));
  color: rgba(23, 245, 103, 1.0);
  border-radius: 4px;
}

.list_item {
  background: rgba(44, 48, 80, 0.9);
}
/************************************/

/****************ENEMY***************/
.f_enemy {
  border: 2px solid rgba(255,69,144,1.0);
}
.fl_enemy {
  background-color:  rgba(255,69,144,1.0);
  border: 2px solid rgba(255,69,144,1.0); 
}
.enemyDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.enemyInfo {
  color: rgba(255,69,144,1.0);
}
.e_val {
  font-weight: bold;
  color: rgba(255,69,144,1.0);
}
/************************************/

/*************NAVIGATION*************/
.f_navigation {
  border: 2px solid aquamarine; 
}

.fl_navigation {
  background-color: aquamarine; 
  border: 2px solid aquamarine;
}

#navegacion {
  margin: 2px;
  padding: 2px;
  overflow: hidden;
  transition: all 1s;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#visor {
  position: relative;
  align-self: center;
  justify-self: center;
  box-shadow: 0 0 4px #999;
}

#info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  margin: 2px;
  background-color: transparent;
}

#orientation {
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
}

#orientationItem {
  display: flex;
  flex-wrap: nowrap;
  margin: 2px;
  padding: 2px;
}

.orientation_circle {
  display: table;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  border: 4px solid aquamarine;
}

.orientation_value {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: cyan;
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
}

#progress {
  margin: 2px;
  margin-top: 16px;
  outline: 1px solid slategray;
  background-color: aquamarine;
}
progress::-webkit-progress-value { 
  background-color: aquamarine;
}

#map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  flex-grow: 1;
  background-color: rgba(0,0,0,0.3);
}

#mapView {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  padding: 2px;
}

#controls {
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
}

#navKeys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#fight_btn { 
  width: 140px;
  height: 44px;
  margin: 2px;
  margin-top: 16px;
  padding: 2px;
  background-color: transparent;
  border: 2px solid rgba(255,69,144,1.0);
  border-radius: 4px;
  color: rgba(255,69,144,1.0);
  cursor: pointer;
}
#figth_btn:disabled, #fight_btn[disabled] {
  border: 2px solid gray;
  color: gray;
  cursor: default;
}

#collect_btn { 
  width: 140px;
  height: 44px;
  margin: 2px;
  margin-top: 16px;
  padding: 2px;
  background-color: transparent;
  border: 2px solid greenyellow;
  border-radius: 4px;
  color: greenyellow;
  cursor: pointer;
}

#collect_btn:disabled, #collect_btn[disabled] {
  border: 2px solid gray;
  color: gray;
  cursor: default;
}


/************************************/

.block {
  display: grid;
  box-sizing: border-box;
  background-color: aquamarine;
  border-radius: 2px;
  margin: 1px;
}

.control {
  background-color: transparent;
}

.button {
  box-shadow: 0 0 4px #999;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid cyan;
}

/***************DIALOG***************/
/* The Dialog (background) */
.dialog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* DIalog Content */
.dialog_content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 45, 52, 0.8),rgba(44, 48, 80, 0.8));
}

.dialog_header {
  padding: 2px 20px;
}

.dialog_header_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.dialog_title {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: 20px;
  font-weight: bold;
  color: rgba(255,69,144,1.0);
  font-size: 50px;
  font-family: custom_font;
  text-shadow: 0 0 10px #1C1F24;
}

/* The Close Button */
.dialog_close {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.dialog_close:hover,
.dialog_close:focus {
  color: aquamarine;
  text-decoration: none;
  cursor: pointer;
}

.dialog_body {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/************************************/

/*********START GAME DIALOG**********/
#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  color:aquamarine;
  margin: 18px;
  font-size: 16px;
}

.input_value {
  text-decoration: none;
  border: 2px solid aquamarine;
  border-radius: 4px;
  font-size: 20px;
  background-color: transparent;
  color: rgba(23, 245, 103, 1.0);
  margin-top: 4px;
  border-style: dashed;
}

#button_wrap {
  display: flex;
  justify-content: center;
}
#button_input {
  margin: 18px;
  justify-items: center;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid aquamarine;
  border-radius: 4px;
  font-size: 20px;
  color: aquamarine;
  padding: 4px;
  border-style: dashed;
}
/************************************/