.body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /*max-width: 1000px;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*background-color: #BADA55;*/
  /*overflow: hidden;
  box-sizing: border-box;
  min-width: 481px;
  min-height: 416px;*/

  min-width: 620px;
  min-height: 416px;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px;
  padding: 2px;

  outline:1px solid rgb(255, 0, 0);
}

.title {
  margin: 2px;
  padding: 2px;
  outline:1px solid rgb(0, 0, 255);
  flex-grow: 1;
  /*justify-content: center;
  align-content: center;*/
  align-self: center;
  font-size: 40px;
  font-weight: bold;
}

.nav {
  display: grid;
  margin: 2px;
  padding: 2px;

  flex-grow: 3;
  outline:1px solid rgb(0, 0, 255);
}

.navList {
  padding: 2px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
  outline:1px solid rgb(0, 255, 0);

  list-style-type: none;
}

.menuItem {
  margin: 2px;

  /*outline:1px solid rgb(0, 0, 255);*/
  flex-grow: 1;
  /*background-color: dodgerblue;*/
  background-color: gray;

  /*pointer-events: none;*/

  color: white;

  /*padding: 12px;*/
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;

  text-align: center;
}

#equipocarac {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/

}
@media screen and (max-width: 838px) {
  #teamDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;

  }
}
/*#teamDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}*/

@media screen and (min-width: 839px) {
  #teamDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;

  }
}

#navegacion {
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
  overflow: hidden;
  transition: all 1s;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /*overflow: hidden;
  box-sizing: border-box;
  min-width: 481px;
  min-height: 416px;*/
}

#visor {
  position: relative;
  /*align-items: center;
  justify-content: center;*/
  align-self: center;
  justify-self: center;
  box-shadow: 0 0 4px #999;
}

#main {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px;
  padding: 2px;
  outline:1px solid rgb(255, 0, 0);
  margin-top: 4px;

  overflow: hidden;
  transition: all 1s;
  
}

#map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  /*margin-left: 1px;
  margin-right: 1px;*/
  /*outline:1px solid rgb(0, 0, 255);*/
  flex-grow: 1;
  background-color: #1C1F24;
}

#mapView {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;
  align-content: center;*/
  /*align-self: center;*/
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
}

#controls {
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
  /*flex-grow: 1;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1C1F24;

}

#info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  /*margin: 2px;
  padding: 2px;
  outline:1px solid rgb(255, 0, 255);*/
  /*background-color: #1C1F24;*/
  background-color: slategray;
}

#navKeys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*margin: 2px;
  padding: 2px;
  outline:1px solid rgb(0, 0, 255);*/
}

#orientation {
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
  display: flex;
  flex-direction: column;
  /*flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;*/
  justify-content: flex-start;
  align-items: center;
    background-color: #1C1F24;


}

#orientationItem {
  display: flex;
  flex-wrap: nowrap;
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
}

.block {
  box-sizing: border-box;
}

.fieldset {
  background-color: #1C1F24;
  border: 2px solid aquamarine; 
  border-radius: 4px; 
  padding: 4px; 
  flex-grow: 1;
  box-shadow: 0 0 4px black;
}

.legend {
  background-color: aquamarine; 
  border: 2px solid aquamarine; 
  border-radius: 4px; 
  color: #1C1F24; 
  font-weight: bold;

  box-shadow: 0 0 4px #999;
}

.playerInfo {
  color: aquamarine;
}

/*.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}*/

/* Button style */
/*.button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}*/

.button {
  box-shadow: 0 0 4px #999;
}

.fld_wrap {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
}

#fight_btn { 
  width: 140px;
  height: 44px;
  margin: 2px;
  margin-top: 16px;
  padding: 2px;
  background-color: transparent;
  border: 2px solid orangered;
  border-radius: 4px;
  color: orangered;
}

#collect_btn { 
  width: 140px;
  height: 44px;
  margin: 2px;
  margin-top: 16px;
  padding: 2px;
  background-color: transparent;
  border: 2px solid greenyellow;
  border-radius: 4px;
  color: greenyellow;
}

#progress {
  margin: 2px;
  margin-top: 16px;
  outline: 1px solid slategray;
  background-color: aquamarine;
  
}

progress::-webkit-progress-value { background-color: aquamarine;;
}
.material-icons.orange600 { color: #FB8C00; }
.material-icons.md-36 { font-size: 36px; }