.body {
  min-width: 640px;
  min-height: 416px;
  background: linear-gradient(to bottom, rgba(0, 45, 52, 0.9), rgba(44, 48, 80, 0.9));

}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin: 2px;*/
  padding: 2px;
  /*background-color: #1C1F24;*/
  background: linear-gradient(to right, rgba(0, 45, 52, 0.9), rgba(44, 48, 80, 0.9));

  /*background-image: url('../media/bmp20144.png');*/
  /*outline:1px solid rgb(255, 0, 0);*/
}

.title {
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
  flex-grow: 1;
  /*justify-content: center;
  align-content: center;*/
  align-self: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(255,69,144,1.0);
  font-family: custom_font;

  text-shadow: 0px 0px 40px rgb(156, 24, 77);

  
}

.nav {
  display: grid;
  /*flex-wrap: nowrap;
  flex-direction: row;*/
  margin: 2px;
  padding: 2px;
  /*justify-content: center;*/
  flex-grow: 3;
  /*outline:1px solid rgb(0, 0, 255);*/
}

.navList {
  padding: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: space-evenly;
  margin: 0px;

  list-style-type: none;
  box-sizing: border-box;
}

.menuItem {
  /*margin: 2px;*/
  /*flex-grow: 1;*/
  /*background-color: dodgerblue;*/
  /*background-color: gray;*/

  /*pointer-events: none;*/

  display: flex;
  flex-wrap: nowrap;
  color: white;

  padding: 8px;
  text-decoration: none;
  font-size: 24px; 
  margin: 2px;
  text-align: center;
  font-family: custom_font_2;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(255,69,144,1.0);


  /*box-sizing: border-box;
  color:aquamarine;
  border-radius: 8px;
  border: 2px solid aquamarine;*/
}

.menuItem:hover {
  color:aquamarine;
  /*border-radius: 25%;
  border: 2px solid aquamarine;*/
  /*background-color: transparent;*/
  /*outline:2px solid aquamarine;*/
  box-sizing: border-box;

}

#equipocarac {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/

}

#navegacion {
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
  overflow: hidden;
  transition: all 1s;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /*overflow: hidden;
  box-sizing: border-box;
  min-width: 481px;
  min-height: 416px;*/
}

#visor {
  position: relative;
  /*align-items: center;
  justify-content: center;*/
  align-self: center;
  justify-self: center;
  box-shadow: 0 0 4px #999;
}

#main {
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*margin: 2px;*/
  padding: 2px;
  /*outline:1px solid rgb(255, 0, 0);*/
  margin-top: 4px;

  overflow: hidden;
  transition: all 1s;
  background: linear-gradient(to right, rgba(0, 45, 52, 0.9), rgba(44, 48, 80, 0.9));

  
}

#map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  /*margin-left: 1px;
  margin-right: 1px;*/
  /*outline:1px solid rgb(0, 0, 255);*/
  flex-grow: 1;
  background-color: rgba(0,0,0,0.3);
  
}

#mapView {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;
  align-content: center;*/
  /*align-self: center;*/
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
}

#controls {
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
  /*flex-grow: 1;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0,0,0,0.3);

}

#info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  margin: 2px;
  /*margin: 2px;
  padding: 2px;
  outline:1px solid rgb(255, 0, 255);*/
  /*background-color: #1C1F24;*/
  background-color: transparent;

}

#navKeys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*margin: 2px;
  padding: 2px;
  outline:1px solid rgb(0, 0, 255);*/
}

#orientation {
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
  display: flex;
  flex-direction: column;
  /*flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;*/
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
}

#orientationItem {
  display: flex;
  flex-wrap: nowrap;
  margin: 2px;
  padding: 2px;
  /*outline:1px solid rgb(0, 0, 255);*/
}

.block {
  box-sizing: border-box;
}


.fieldset {
  /*background-color: #1C1F24;*/

  border: 2px solid aquamarine; 
  border-radius: 4px; 
  padding: 4px; 
  flex-grow: 1;
  box-shadow: 0 0 4px black;

  background-color: rgba(0,0,0,0.4);
  margin: 4px;
}

.fieldset2 {
  /*background-color: #1C1F24;*/
  border: 2px solid rgba(255,69,144,1.0);
  border-radius: 4px; 
  padding: 4px; 
  flex-grow: 1;
  box-shadow: 0 0 4px black;
  background-color: rgba(0,0,0,0.4);
  margin: 4px;
}

.legend2 {
  background-color:  rgba(255,69,144,1.0);
  border: 2px solid rgba(255,69,144,1.0); 
  border-radius: 4px; 
  color: #1C1F24; 
  font-weight: bold;
  box-shadow: 0 0 4px #999;
}

.legend {
  background-color: aquamarine; 
  border: 2px solid aquamarine; 
  border-radius: 4px; 
  color: #1C1F24; 
  font-weight: bold;
  box-shadow: 0 0 4px #999;
}

.playerInfo {
  color: aquamarine;
}

.enemyInfo {
  color: rgba(255,69,144,1.0);
}

.button {
  box-shadow: 0 0 4px #999;
}

.fld_wrap {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;


}
.fld_wrap2 {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
}

#fight_btn { 
  width: 140px;
  height: 44px;
  margin: 2px;
  margin-top: 16px;
  padding: 2px;
  background-color: transparent;
  border: 2px solid rgba(255,69,144,1.0);
  border-radius: 4px;
  color: rgba(255,69,144,1.0);
  cursor: pointer;
}
#figth_btn:disabled, #fight_btn[disabled] {
  border: 2px solid gray;
  color: gray;
  cursor: default;
}

#collect_btn { 
  width: 140px;
  height: 44px;
  margin: 2px;
  margin-top: 16px;
  padding: 2px;
  background-color: transparent;
  border: 2px solid greenyellow;
  border-radius: 4px;
  color: greenyellow;
  cursor: pointer;
}

#collect_btn:disabled, #collect_btn[disabled] {
  border: 2px solid gray;
  color: gray;
  cursor: default;
}

#progress {
  margin: 2px;
  margin-top: 16px;
  outline: 1px solid slategray;
  background-color: aquamarine;
  
}

.enemycarac {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
}

#teamDiv {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;
  align-items: flex-start;*/
  flex-direction: column;
}

#teamDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.objects {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#left_objects {
  justify-content: flex-start;
}

#right_objects {
  justify-content: flex-end;
}

.list {
  height: 24px;
  margin-left: 4px;
  background: linear-gradient(to bottom, rgba(0, 45, 52, 0.9), rgba(44, 48, 80, 0.9));
  /*background-color: rgba(44, 48, 80, 0.9);*/
  color: rgba(23, 245, 103, 1.0);
  border-radius: 4px;

}

.list_item {

  background: rgba(44, 48, 80, 0.9);

}

.p_val {
  font-weight: bold;
  color: greenyellow;
}

.main_objects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#dialog {
  position: absolute;
  top: 50%;
}

#dialog_btn {
  float:right;
}

#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#button_wrap {
  display: flex;
  justify-content: center;
}
#button_input {
  margin: 18px;
  justify-items: center;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid aquamarine;
  border-radius: 4px;
  font-size: 20px;
  color: aquamarine;
  padding: 4px;

}

#name_input {
  text-decoration: none;
  border: 2px solid aquamarine;
  border-radius: 4px;
  font-size: 20px;
  background-color: transparent;
  /*color: rgba(255,69,144,1.0);*/
  color: rgba(23, 245, 103, 1.0);
  margin-top: 4px;
  border-style: dashed;
}

.input {
  color:aquamarine;
  margin: 18px;
  font-size: 16px;
}

#gender_input {
  text-decoration: none;
  border: 2px solid aquamarine;
  border-radius: 4px;
  font-size: 20px;
  background-color: transparent;
  color: rgba(23, 245, 103, 1.0);

  margin-top: 4px;
  border-style: dashed;

}

progress::-webkit-progress-value { background-color: aquamarine;;
}
.material-icons.orange600 { color: #FB8C00; }
.material-icons.md-36 { font-size: 36px; }

/*TOPNAV*/

@font-face {
  font-family: custom_font;
  src: url(../media/Efesto-Regular.otf) format('truetype');
}

@font-face {
  font-family: custom_font_2;
  src: url(../media/Efesto-Italic.otf) format('truetype');
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal_title {
  /*justify-self: center;
  align-self: center;*/
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: 20px;
  font-weight: bold;
  color: rgba(255,69,144,1.0);
  font-size: 50px;
  font-family: custom_font;
  text-shadow: 0 0 10px #1C1F24;
}
/* Modal Content */
.modal-content {
  position: relative;
  /*background-color: #1C1F24;*/
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: hidden;
  /*background-image: linear-gradient(-90deg, red, yellow);*/
  background: linear-gradient(to right, rgba(0, 45, 52, 0.8),rgba(44, 48, 80, 0.8));
  /*background:
      linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/

}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  
  /*align-self: center;*/
  font-size: 40px;
  font-weight: bold;
}



.close:hover,
.close:focus {
  color: aquamarine;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 20px;
  /*background-color: rgba(0,0,0,0.7);*/

}

#header_wrap {
  /*display: grid;*/

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.modal-body {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}